<!-- <ion-header>
  <ion-toolbar>
    <ion-title>me</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="me-page-shopping-cart">
    <ion-icon name="cart" color="dark"></ion-icon>
  </div>

  <div>
    <ion-avatar>
      <img src="../../assets/bitcoin.jpg" />
    </ion-avatar>
  </div>

  <section>
        <header>Your User Name</header>
        <ion-button expand="block" routerLink="/sign-in">Log In or Sign Up</ion-button>
  </section>

</ion-content>
