<ion-header>
  <ion-toolbar>
    <div class="me-page-shopping-cart"> 
      <ion-title>Account</ion-title>
      <ion-icon name="cart" color="dark" slot="end" item-right></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div>
    <ion-avatar>
      <img src="../../assets/bitcoin.jpg" />
    </ion-avatar>
  </div>

  <section>
        <header>Your User Name</header>
        <ion-button expand="block" routerLink="/sign-in">Log In or Sign Up</ion-button>
  </section>

</ion-content>
