<!-- <ion-header>
  <ion-toolbar>
    <ion-title>me</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="me-page-shopping-cart">
    <ion-icon name="cart" color="dark"></ion-icon>
  </div>

  <div>
    <ion-avatar>
      <img src="../../assets/bitcoin.jpg" />
    </ion-avatar>
  </div>

  <section>
        <header>Your User Name</header>
        <ion-button expand="block" routerLink="account/sign-in">Log In or Sign Up</ion-button>
  </section>

  <!-- <ion-row>

    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button color="danger" click="signIn()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-list lines="full">
      <ion-list-header>
        <ion-label>
          Mobile Phone Sign In
        </ion-label>
      </ion-list-header>
      <ion-item-group>
        <form [formGroup]="form">
          <div>
            <ion-item>
              <ion-input 
                formControlName="phone" 
                placeholder="Mobile Number"
                type="tel"
                minlength="10"
                maxlength="10">
              </ion-input>
            </ion-item>
            <ion-text *ngIf="!form.get('phone').valid && form.get('phone').touched">
              <ion-text *ngIf="form.get('phone').hasError('required')" color="danger">
                * Please enter the mobile number
              </ion-text>
              <ion-text *ngIf="form.get('phone').hasError('minlength') 
              && !form.get('phone').hasError('required')" color="danger">
                * Please enter a valid mobile number
              </ion-text>
            </ion-text>
          </div>

          <div>
            <ion-item>
              <ion-icon 
                [name]="type ? 'eye-outline' : 'eye-offline'" 
                slot="end" 
                color="medium"
                (click)="changeType()">
              </ion-icon>
              <ion-input
                formControlName="password" 
                placeholder="Password"
                [type]="type ? 'password' : 'text'">
              </ion-input>
            </ion-item>
            <ion-text *ngIf="!form.get('password').valid && form.get('password').touched">
              <ion-text *ngIf="form.get('password').hasError('required')" color="danger">
                * Please enter the password
              </ion-text>
              <ion-text *ngIf="form.get('password').hasError('minlength') 
                          && !form.get('password').hasError('required')" color="danger">
                * Password must be of the minimum 8 characters long
              </ion-text>
            </ion-text>
          </div>
        </form>

        <ion-item lines="none">
          <ion-text color="danger" slot="start">
            Forgot Password?
          </ion-text>
          <ion-text color="dark" slot="end">
              <strong>
                Sign Up
              </strong>
          </ion-text>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-row> -->

</ion-content>
