<ion-header>
  <ion-toolbar>
    <ion-title>categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="categories-page-search">
      <ion-searchbar placeholder="Search Items" animated>
      </ion-searchbar>
      <ion-icon name="cart"></ion-icon>
  </div>

  <ion-segment scrollable value="breads">
    <ion-segment-button value="beverages">
      <ion-label>Beverages</ion-label>
    </ion-segment-button>
    <ion-segment-button value="breads">
      <ion-label>Breads</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cakes">
      <ion-label>Cakes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mooncakes">
      <ion-label>Mooncakes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="muffins">
      <ion-label>Muffins</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pastries">
      <ion-label>Pastries</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sandwiches">
      <ion-label>Sandwiches</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tarts">
      <ion-label>Tarts</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-content>
