<ion-header>
  <ion-toolbar>
    <ion-title>Log in</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="me"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true"> -->
<ion-content>
  <ion-row>

    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button color="danger" (click)="signIn()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-list lines="full">
      <ion-list-header>
        <ion-label class="sign-in-phone-label">
          Phone
        </ion-label>
      </ion-list-header>
      <ion-item-group class="sign-in-form">
        <form [formGroup]="signInForm">
          <div>
            <ion-item>
              <ion-input 
                formControlName="phone" 
                placeholder="Phone Number"
                type="tel"
                minlength="10"
                maxlength="10">
              </ion-input>
            </ion-item>
            <ion-text *ngIf="!signInForm.get('phone').valid && signInForm.get('phone').touched">
              <ion-text *ngIf="signInForm.get('phone').hasError('required')" color="danger">
                * Please enter the mobile number
              </ion-text>
              <ion-text *ngIf="signInForm.get('phone').hasError('minlength') 
              && !signInForm.get('phone').hasError('required')" color="danger">
                * Please enter a valid mobile number
              </ion-text>
            </ion-text>
          </div>

          <div>
            <ion-item>
              <ion-icon 
                [name]="type ? 'eye-outline' : 'eye-off-outline'" 
                slot="end" 
                color="dark"
                (click)="changeType()">
              </ion-icon>
              <ion-input
                formControlName="password" 
                placeholder="Password"
                [type]="type ? 'password' : 'text'">
              </ion-input>
            </ion-item>
            <ion-text *ngIf="!signInForm.get('password').valid && signInForm.get('password').touched">
              <ion-text *ngIf="signInForm.get('password').hasError('required')" color="danger">
                * Please enter the password
              </ion-text>
              <ion-text *ngIf="signInForm.get('password').hasError('minlength') 
                          && !signInForm.get('password').hasError('required')" color="danger">
                * Password must be of the minimum 8 characters long
              </ion-text>
            </ion-text>
          </div>
        </form>

        <ion-item lines="none">
          
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-row>

  <ion-button expand="block">Log in</ion-button>
  <br />
  <div class="forgot-password">
    <ion-text color="primary">
      Forgot Password?
    </ion-text>
  </div>
  <br />
  <br />
  <div class="sign-up-link">
    <ion-text> 
      Don't have an account? <a routerLink="/sign-up">SIGN UP</a>
    </ion-text>
  </div>

  <!-- <ion-button>Default</ion-button>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button> -->

</ion-content>
