.me-page-shopping-cart {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 26px;
}

ion-row {
    display: block;
    ion-list {
        --border-radius: 20px;
    }
}