<ion-header class="ion-no-border">
  <ion-toolbar style="background: #F4FAF6" class="main-toolbar">
    Welcome to New Fully Bakery, Inc.
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border" style="background: #F4FAF6">
    <div>
      <ion-icon ios="menu-outline" md="menu-sharp" name="menu" class="icon"></ion-icon>
    </div>
    <div class="title-toolbar">
      <String class="title">Shop</String>Here
    </div>
</ion-header>

<ion-content fullscreen="true">
  <div id="container">
    <ion-searchbar placeholder="Find a product" no-shadow></ion-searchbar>

    <div class="main-feature-products">
      <ion-slides pager="true" [options]="options">
        <ion-slide>
          <ion-card class="main-product-card">
            <ion-card-content>
              <img src="../../../assets/tiramisu-cake.jpg" />

              <ion-title>
                Tiramisu Cake
              </ion-title>

              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star" color="warning"></ion-icon>
                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                  5 minutes ago
                </div>
              </ion-card-subtitle>
              
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>Slide two</ion-slide>
        <ion-slide>Slide three</ion-slide>
      </ion-slides>
    </div>
  </div>

</ion-content>
