<ion-header class="ion-no-border">
  <ion-toolbar style="background: #F4FAF6" class="main-toolbar">
    Welcome to New Fully Bakery, Inc.
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border" style="background: #F4FAF6">
    <div>
      <ion-icon ios="menu-outline" md="menu-sharp" name="menu" class="icon"></ion-icon>
    </div>
    <div class="title-toolbar">
      <String class="title">Shop</String>Here
    </div>
</ion-header>

<ion-content fullscreen="true">
  <div id="content">
    <ion-searchbar></ion-searchbar>
  </div>

</ion-content>
