ion-row {
    display: block;
    ion-list {
        --border-radius: 20px;
    }
}

.sign-in-link {
    text-align: center;
}

.sign-up-phone-label {
    text-align: center;
    color: blue;
    text-decoration: underline;
    font-weight: 700;
    font-size: 16px;
}

ion-input {
    background-color: lightgray;
    margin: 0%;
}

ion-icon {
    background-color: lightgray;
    margin: 0%; 
    height: 39px;
}