<ion-header>
  <ion-toolbar>
    <ion-title>Sign up</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="sign-in"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row>

    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button color="danger" (click)="signUp()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-list lines="full">
      <ion-list-header>
        <ion-label class="sign-up-phone-label">
          Phone
        </ion-label>
      </ion-list-header>
      <ion-item-group>
        <form [formGroup]="signUpForm">
          <div>
            <ion-item>
              <ion-button 
                *ngIf="!verified"
                slot="end" fill="clear" color="primary" (click)="verifyViaOtp()">VERIFY</ion-button>
              <ion-button 
                *ngIf="verified"
                slot="end" fill="clear" color="success">VERIFIED</ion-button>
              <ion-input 
                formControlName="phone" 
                placeholder="Phone Number"
                type="tel"
                minlength="10"
                maxlength="10">
                (ionChange)="changeNumber($event)"
              </ion-input>
            </ion-item>
            <ion-text *ngIf="!signUpForm.get('phone').valid && signUpForm.get('phone').touched">
              <ion-text *ngIf="signUpForm.get('phone').hasError('required')" color="danger">
                * Please enter the mobile number
              </ion-text>
              <ion-text *ngIf="signUpForm.get('phone').hasError('minlength') 
              && !signUpForm.get('phone').hasError('required')" color="danger">
                * Please enter a valid mobile number
              </ion-text>
            </ion-text>
          </div>

          <div>
            <ion-item>
              <ion-icon 
                [name]="type ? 'eye-outline' : 'eye-off-outline'" 
                slot="end" 
                color="dark"
                (click)="changeType()">
              </ion-icon>
              <ion-input
                formControlName="password" 
                placeholder="Password"
                [type]="type ? 'password' : 'text'">
              </ion-input>
            </ion-item>
            <ion-text *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched">
              <ion-text *ngIf="signUpForm.get('password').hasError('required')" color="danger">
                * Please enter the password
              </ion-text>
              <ion-text *ngIf="signUpForm.get('password').hasError('minlength') 
                          && !signUpForm.get('password').hasError('required')" color="danger">
                * Password must be of the minimum 8 characters long
              </ion-text>
            </ion-text>
          </div>
        </form>

        <ion-item lines="none">
          
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-row>

  <ion-button expand="block">Create Account</ion-button>
  <br />
  <br />


  <div class="sign-in-link">
    <ion-text>
      Already have an account? <a routerLink="/sign-in">LOG IN</a>
    </ion-text>
  </div>

</ion-content>
