<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "home-page-shopping-cart">
      <ion-searchbar placeholder="Search Items" animated>
      </ion-searchbar>
    <ion-icon name="cart"></ion-icon>
  </div>

<ion-segment scrollable value="breads">

   <ion-segment-button value="beverages">
     <ion-thumbnail>
       <ion-img src="../../assets/beverages.jpg"></ion-img>
     </ion-thumbnail>
    <ion-icon-label>Beverages</ion-icon-label>
  </ion-segment-button>

  <ion-segment-button value="breads">
    <ion-thumbnail>
      <ion-img src="../../assets/breads.jpg"></ion-img>
    </ion-thumbnail>
    <ion-icon-label>Breads</ion-icon-label>
  </ion-segment-button>

  <ion-segment-button value="cakes">
    <ion-thumbnail>
      <ion-img src="../../assets/cakes.jpeg"></ion-img>
    </ion-thumbnail>
    <ion-icon-label>Cakes</ion-icon-label>
  </ion-segment-button>

   <ion-segment-button value="mooncakes">
    <ion-thumbnail>
      <ion-img src="../../assets/mooncakes.jpeg"></ion-img>
    </ion-thumbnail> 
    <ion-icon-label>Mooncakes</ion-icon-label>
  </ion-segment-button>

   <ion-segment-button value="muffins">
    <ion-thumbnail>
      <ion-img src="../../assets/muffins.jpg"></ion-img>
    </ion-thumbnail> 
    <ion-icon-label>Muffins</ion-icon-label>
  </ion-segment-button>

   <ion-segment-button value="pastries">
    <ion-thumbnail>
      <ion-img src="../../assets/pastries.jpg"></ion-img>
    </ion-thumbnail>
    <ion-icon-label>Pastries</ion-icon-label>
  </ion-segment-button>

   <ion-segment-button value="sandwiches">
    <ion-thumbnail>
      <ion-img src="../../assets/sandwiches.jpeg"></ion-img>
    </ion-thumbnail> 
    <ion-icon-label>Sandwiches</ion-icon-label>
  </ion-segment-button>

  <ion-segment-button value="tarts">
    <ion-thumbnail>
      <ion-img src="../../assets/tarts.jpeg"></ion-img>
    </ion-thumbnail>
    <ion-icon-label>Tarts</ion-icon-label>
  </ion-segment-button>

</ion-segment>


  

  
</ion-content>