<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "home-page-shopping-cart">
    <ion-icon class="home-page-shopping-cart" name="cart"></ion-icon>
  </div>
    <ion-searchbar placeholder="Search Items" animated>
    </ion-searchbar>

<ion-segment scrollable value="breads">
   <ion-segment-button value="beverages">
     <ion-img src="../../assets/beverages.jpg"></ion-img>
    <ion-icon-label>Beverages</ion-icon-label>
  </ion-segment-button>
  <ion-segment-button value="breads">
    <ion-img src="../../assets/breads.jpg"></ion-img>
    <ion-icon-label>Breads</ion-icon-label>
  </ion-segment-button>
  <ion-segment-button value="cakes">
    <ion-img src="../../assets/cakes.jpeg"></ion-img>
    <ion-icon-label>Cakes</ion-icon-label>
  </ion-segment-button>
   <ion-segment-button value="mooncakes">
     <ion-img src="../../assets/mooncakes.jpeg"></ion-img>
    <ion-icon-label>Mooncakes</ion-icon-label>
  </ion-segment-button>
   <ion-segment-button value="muffins">
     <ion-img src="../../assets/muffins.jpg"></ion-img>
    <ion-icon-label>Muffins</ion-icon-label>
  </ion-segment-button>
   <ion-segment-button value="pastries">
     <ion-img src="../../assets/pastries.jpg"></ion-img>
    <ion-icon-label>Pastries</ion-icon-label>
  </ion-segment-button>
   <ion-segment-button value="sandwiches">
     <ion-img src="../../assets/sandwiches.jpeg"></ion-img>
    <ion-icon-label>Sandwiches</ion-icon-label>
  </ion-segment-button>
  <ion-segment-button value="tarts">
    <ion-img src="../../assets/tarts.jpeg"></ion-img>
    <ion-icon-label>Tarts</ion-icon-label>
  </ion-segment-button>
</ion-segment>


  

  
</ion-content>