.home-page-shopping-cart {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 26px;
}

ion-searchbar {
    --border-radius: 20px; 
}

ion-thumbnail {
    --border-radius: 100% !important;
}